In [ ]:
name = "vimlesh kuamr"
print("Hello World This is", name)

Hello World This is vimlesh kuamr

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
!ls "/content/drive/My Drive/Google Colab"

learning_google_colab.ipynb  mnist_cnn.py  Titanic.csv

In [ ]:
!pip install -q keras
import keras

In [ ]:
!python3 "/content/drive/My Drive/Google Colab/mnist_cnn.py"

Using TensorFlow backend.
2020-06-12 15:51:27.851132: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudart.so.10.1

In [ ]:
!wget https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv -P "/content/drive/My Drive/Google Colab"

--2020-06-12 15:51:32--  https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1170 (1.1K) [text/plain]
Saving to: ‘/content/drive/My Drive/Google Colab/Titanic.csv.1’

Titanic.csv.1       100%[===================>]   1.14K  --.-KB/s    in 0s

2020-06-12 15:51:32 (60.9 MB/s) - ‘/content/drive/My Drive/Google Colab/Titanic.csv.1’ saved [1170/1170]

In [ ]:
import pandas as pd
titanic = pd.read_csv("/content/drive/My Drive/Google Colab/Titanic.csv")
titanic.head(5)

   Unnamed: 0 Class     Sex    Age Survived  Freq
0           1   1st    Male  Child       No     0
1           2   2nd    Male  Child       No     0
2           3   3rd    Male  Child       No    35
3           4  Crew    Male  Child       No     0
4           5   1st  Female  Child       No     0

In [ ]:
!git clone https://github.com/wxs/keras-mnist-tutorial.git

fatal: destination path 'keras-mnist-tutorial' already exists and is not an empty directory.

In [ ]:
ls

drive/  keras-mnist-tutorial/  sample_data/